$error: #e74c3c;
$success: #2ecc71;

/***************
* INPUT
***************/

.required {
  box-shadow: 0 0 10px 0 $error;

  &::after {
    content: $requiredFieldMessage;
    width: 100%;
    height: 20px;
    background-color: $error;
    border: 1px solid #a10c01;
  }
}
